* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #CFFFDC;
}

body {
    background-color: #7900FF;
    transform: scale(1, 1);
}

.header {
    text-align: center;
}

.display {
    margin: auto;
    margin-top: 15px;
    width: 500px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 5px solid #93FFD8;
    border-bottom: 2.5px solid #93FFD8;
}

.container {
    margin: auto;
    width: 500px;
    border: 5px solid #93FFD8;
    border-top: 2.5px solid #93FFD8;
    padding: 15px;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-color: #548CFF;
    border: none;
}

.btn.backspace {
    width: 60px;
}

.btn.shift {
    width: 60px;
}

.btn.clear {
    width: 60px;
}

.btn.space {
    width: 305px;
}

.btn:hover {
    background-color: #93FFD8;
    color: #7900FF;
}